.navbar {
  margin-bottom: 0px !important;
}
.navbar .container-fluid ul.main-center {
  display: flex;
  justify-content: center;
  text-align: center;
}
.carousel .carousel-inner img {
  width: 100%;
}
